@media (max-width: 1024px) {

    header > nav:first-of-type {
        justify-content: center;
    }

    header > nav:first-of-type > ul {
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin: 0;
    }    

    #about > div:nth-of-type(1) {
        width: 80%;
        margin: 5% 0;
    }

    #about > article {
        flex-wrap: wrap-reverse;
    }

    #about > article > div:first-of-type {
        width: 50%;
        margin: 0;
    }

    #about > article > div:last-of-type {
        width: 100%;
        margin-bottom: 20%;
    }

    #lounger {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-end;
    }

    #lounger > article:first-of-type {
        width: 100%;
        height: 50vh;
    }

    #lounger > article:last-of-type {
        width: 100%;
        height: 42vh;
        padding: 5% 10% 5% 20%;
    }

    #lounger > article:last-of-type > h1 {
        margin-bottom: 5%;
    }

    #experience {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-end;
    }

    #experience > article:first-of-type {
        width: 100%;
        height: 50vh;
    }

    #experience > article:last-of-type {
        width: 100%;
        height: 42vh;
        padding: 5% 10% 5% 20%;
    }

    #experience > article:last-of-type > h1 {
        margin-bottom: 5%;
    }

    #insperationTop {
        padding-top: 11%;
    }

    #insperationTop > article > i {
        font-size: 2em;
    }

    #insperationDown > article > div > div > h2 {
        font-size: 1em;
    }

    #insperationDown > article > div > div > h1 {
        font-size: 1.5em;
    }

    #insperationDown > article > div > div > p {
        font-size: 0.85em;
    }

    #shop > article:first-of-type {
        display: none;
    }

    #shop > article:last-of-type {
        width: 100%;
        height: 100vh;
    }

    #contact {
        flex-wrap: wrap;
        justify-content: center;
    }

    #contact > article:first-of-type {
        width: 100%;
        height: 40vh;
    }

    #contact > article:nth-of-type(2) {
        width: 60%;
        height: 52vh;
        justify-content: flex-start;
    }
    
}

@media (max-width: 768px) {

    header > nav:first-of-type {
        display: none;
    }

    header > nav:nth-of-type(2) {
        display: none;
    }

    .burger > i {
        position: fixed;
        display: initial;
        color: #ebccc2;
        z-index: 999;
        font-size: 3em;
        top: 3%;
        right: 5%;
    }

    header > nav:last-of-type {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100vh;
    }

    header > nav:last-of-type > ul {
        height: 100vh;
        padding-top: 20%;
        padding-left: 2%;
        padding-right: 7%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
    }

    header > nav:last-of-type > ul > li {
        height: 10vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header > nav:last-of-type > ul > li:not(:last-of-type) > a {
        font-size: 0.9em;
        margin-right: 1em;
        color: #ebccc2;
        font-family: 'Work-Sans-Regular';
    }

    header > nav:last-of-type > ul > li > a {
        color: #ebccc2;
    }

    header > nav:last-of-type > ul > li:nth-of-type(7) {
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 10vh;
    }

    header > nav:last-of-type > ul > li > i {
        color: #ebccc2;
    }

    header > nav:last-of-type > ul > li:nth-of-type(7) > i {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    
    header > nav:last-of-type > ul > li:last-of-type > a {
        margin-right: 0.3em;
    }

    #mediaNav {
        display: none;
    }

    #navCross {
        display: none;
    }

    .circleNav {
        border: 2px solid #867772;
    }
    
    .outerCircle {
        border: 2px solid #867772;
        margin-top: -5px;
        margin-left: -5px;
    }
    
    .lineNav {
        border: 2px solid #867772;
        margin-top: 5px;
        margin-left: 0.5em;
    }

    #lounger > article:last-of-type {
        padding: 5% 10% 5% 10%;
    }

    #experience > article:last-of-type {
        height: 45vh;
        padding: 5% 10% 5% 10%;
    }

    #contact > article:first-of-type {
        display: none;
    }

    #contact > article:nth-of-type(2) {
        width: 60%;
        height: 70vh;
        justify-content: center;
    }

    #insperationDown {
        padding: 10% 12%;
    }

    #contact > article:nth-of-type(2) > form > input:nth-of-type(5) {
        width: 77.5%;
    }
}    

@media (max-width: 576px) { 
    #about > div:first-of-type > h1 {
        font-size: 2.5em;
        margin-top: 6vh;
    }

    header > nav:last-of-type {
        width: 100%;
        background: #2e2e2e;
        overflow-y: none;
    }

    header > nav:last-of-type > ul {
        padding-right: 15%;
    }

    header > nav:last-of-type > ul > li:not(:last-of-type) > a {
        margin-right: 1em;
        font-size: 2em;
        line-height: 0.7em;
    }

    .lineNav {
        height: 6vh;
    }

    header > nav:last-of-type > ul > li:nth-of-type(7) {
        flex-direction: row;
        justify-content: space-around;
        font-size: 2em;
        margin-top: 15vh;
    }

    .logo {
        z-index: 99;
    }

    #contact > article:nth-of-type(2) {
        height: 80vh;
        align-items: center;
    }

    #shop > article:last-of-type > button {
        padding: 5% 10%;
        margin-top: 10%
    }

    #contact > article:nth-of-type(2) > form > input:not(:nth-of-type(5)) {
        width: 100%;
        height: 5vh
    }

    #contact > article:nth-of-type(2) > form > select {
        width: 100%;
        height: 5vh;
        margin-bottom: 2%;
    }

    #contact > article:nth-of-type(2) > form > input:nth-of-type(5) {
        width: 100%;
    }  

    #contact > article:nth-of-type(2) > form > textarea {
        height: 30%;
    }

    #insperationTop {
        padding: 27% 0 0 0;
    }

    #insperationMid {
        padding: 10% 5% 0 5%;
    }

    #insperationDown > article > div {
        width: 100%;
        margin-bottom: 10%;
    }

    #shop > article:last-of-type > div {
        width: 100%;
    }

}